.logos {
  display: flex;
  align-items: center;
  padding: 2rem 0;
  width: 100%;
}


.logoImg {
  height: 180px;
  width: 260px;
}

.logoSubtitle {
  text-align: center;
  display: block;
  align-items: center;
  justify-content: center;
  font-size: 1.5em;
}