.logos {
  display: flex;
  align-items: center;
  padding: 2rem 0;
  width: 100%;
  background: lightskyblue;
}


.logoImg {
  height: 256px;
  width: 256px;
}

.logoSubtitle {
  text-align: center;
  display: block;
  align-items: center;
  justify-content: center;
  font-size: 1.5em;
  color: #000000;
}